In [6]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv("/home/abhishek/Desktop/IMF/src/merging/IMF_merged_data.csv")

In [8]:
df.head(20)

,country,indicator,year,value,COUNTRY,BOP_ACCOUNTING_ENTRY,INDICATOR,UNIT,FREQUENCY,SCALE,TYPE_OF_TRANSFORMATION,2024,Country,Manual Sovereign Default Label,Year of Default,Default Type
0,"China, People's Republic of","Grants receivable, International Organizations...",2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"China, People's Republic of","Taxes on income, profits, and capital gains, p...",2010.0,0.710632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"China, People's Republic of","Grants receivable from foreign governments, Tr...",2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"China, People's Republic of","Other taxes on goods and services, Transactions",2010.0,0.048256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"China, People's Republic of",Other taxes on international trade and transac...,2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"China, People's Republic of","Taxes on property, Transactions",2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Türkiye, Republic of","Taxes, Transactions",2010.0,18.809357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"Türkiye, Republic of",Other taxes on use of goods and on permission ...,2010.0,0.307714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"Türkiye, Republic of","General taxes on goods and services, Transactions",2010.0,5.424705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"China, People's Republic of","Other social contributions, Transactions",2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"Türkiye, Republic of","Taxes on exports, Transactions",2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Türkiye, Republic of",Other social contributions: imputed contributi...,2010.0,0.197403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"Türkiye, Republic of","Taxes on payroll and workforce, Transactions",2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"China, People's Republic of","Social contributions, Transactions",2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"China, People's Republic of","Sales taxes, Transactions",2010.0,0.037537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,India,"Social contributions, Transactions",2010.0,0.033689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"Türkiye, Republic of","Taxes on goods and services, Transactions",2010.0,12.186162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"Türkiye, Republic of","Capital grants receivable, International Organ...",2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"China, People's Republic of",Grants receivable from foreign governments: ca...,2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,"Türkiye, Republic of","Taxes on international trade and transactions,...",2010.0,0.287472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.head(0)

Empty DataFrame
Columns: [country, indicator, year, value, COUNTRY, BOP_ACCOUNTING_ENTRY, INDICATOR, UNIT, FREQUENCY, SCALE, TYPE_OF_TRANSFORMATION, 2024, Country, Manual Sovereign Default Label, Year of Default, Default Type]
Index: []

In [10]:
# Step 1: List of columns to drop
columns_to_drop = ["2024"]

# Step 2: Drop them from the DataFrame
df = df.drop(columns=columns_to_drop)

In [11]:
df.head(0)

Empty DataFrame
Columns: [country, indicator, year, value, COUNTRY, BOP_ACCOUNTING_ENTRY, INDICATOR, UNIT, FREQUENCY, SCALE, TYPE_OF_TRANSFORMATION, Country, Manual Sovereign Default Label, Year of Default, Default Type]
Index: []

In [12]:
print(df['COUNTRY'].unique())

[nan 'India' 'Germany' 'Japan' 'Brazil' 'Myanmar' 'Sri Lanka'
 'United States' 'South Africa' 'Italy' "China, People's Republic of"
 'Russian Federation' 'United Kingdom' 'Bangladesh' 'Türkiye, Republic of'
 'French Polynesia' 'France']

In [13]:
# Replace "French Polynesia" with "France" in the COUNTRY column
df['COUNTRY'] = df['COUNTRY'].replace('French Polynesia', 'France')
df['COUNTRY'] = df['COUNTRY'].replace('Türkiye, Republic of', 'Türkiye')
df['COUNTRY'] = df['COUNTRY'].replace('French Polynesia', 'French')
df['COUNTRY'] = df['COUNTRY'].replace("China, People's Republic of", "China")

In [14]:
print(df['COUNTRY'].unique())

[nan 'India' 'Germany' 'Japan' 'Brazil' 'Myanmar' 'Sri Lanka'
 'United States' 'South Africa' 'Italy' 'China' 'Russian Federation'
 'United Kingdom' 'Bangladesh' 'Türkiye' 'France']

In [15]:
# Step 1: List of columns to drop
columns_to_drop = ["country"]

# Step 2: Drop them from the DataFrame
df = df.drop(columns=columns_to_drop)

In [16]:
df.head()

,indicator,year,value,COUNTRY,BOP_ACCOUNTING_ENTRY,INDICATOR,UNIT,FREQUENCY,SCALE,TYPE_OF_TRANSFORMATION,Country,Manual Sovereign Default Label,Year of Default,Default Type
0,"Grants receivable, International Organizations...",2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Taxes on income, profits, and capital gains, p...",2010.0,0.710632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Grants receivable from foreign governments, Tr...",2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Other taxes on goods and services, Transactions",2010.0,0.048256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Other taxes on international trade and transac...,2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
print(df['UNIT' ].unique())

[nan 'US dollar']

In [18]:
df.head(0)

Empty DataFrame
Columns: [indicator, year, value, COUNTRY, BOP_ACCOUNTING_ENTRY, INDICATOR, UNIT, FREQUENCY, SCALE, TYPE_OF_TRANSFORMATION, Country, Manual Sovereign Default Label, Year of Default, Default Type]
Index: []

In [21]:
# Step 1: List of columns to drop
columns_to_drop = ["Country"]

# Step 2: Drop them from the DataFrame
df = df.drop(columns=columns_to_drop)

In [27]:
df.head(30)

,indicator,year,value,COUNTRY,BOP_ACCOUNTING_ENTRY,INDICATOR,UNIT,FREQUENCY,SCALE,TYPE_OF_TRANSFORMATION,Manual Sovereign Default Label,Year of Default,Default Type
0,"Grants receivable, International Organizations...",2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Taxes on income, profits, and capital gains, p...",2010.0,0.710632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Grants receivable from foreign governments, Tr...",2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Other taxes on goods and services, Transactions",2010.0,0.048256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Other taxes on international trade and transac...,2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Taxes on property, Transactions",2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Taxes, Transactions",2010.0,18.809357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Other taxes on use of goods and on permission ...,2010.0,0.307714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"General taxes on goods and services, Transactions",2010.0,5.424705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Other social contributions, Transactions",2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"Taxes on exports, Transactions",2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Other social contributions: imputed contributi...,2010.0,0.197403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"Taxes on payroll and workforce, Transactions",2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"Social contributions, Transactions",2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"Sales taxes, Transactions",2010.0,0.037537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,"Social contributions, Transactions",2010.0,0.033689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"Taxes on goods and services, Transactions",2010.0,12.186162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"Capital grants receivable, International Organ...",2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Grants receivable from foreign governments: ca...,2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,"Taxes on international trade and transactions,...",2010.0,0.287472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"Other social contributions, Transactions",2010.0,0.033689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"Other taxes, Transactions",2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,"Taxes on exports, Transactions",2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,"Recurrent taxes on net wealth, Transactions",2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"Capital grants receivable, Other general gover...",2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"Grants receivable, International Organizations...",2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Turnover and other general taxes on goods and ...,2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"Interest (before FISIM allocation), receivable...",2010.0,0.008069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Grants receivable from foreign governments: ca...,2010.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,"Taxes on income, profits, and capital gains, p...",2010.0,1.457818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
print(df['indicator' ].unique())

['Grants receivable, International Organizations, Transactions'
 'Taxes on income, profits, and capital gains, payable by individuals, T'
 'Grants receivable from foreign governments, Transactions'
 'Other taxes on goods and services, Transactions'
 'Other taxes on international trade and transactions, Transactions'
 'Taxes on property, Transactions' 'Taxes, Transactions'
 'Other taxes on use of goods and on permission to use goods or perform '
 'General taxes on goods and services, Transactions'
 'Other social contributions, Transactions'
 'Taxes on exports, Transactions'
 'Other social contributions: imputed contributions, Transactions'
 'Taxes on payroll and workforce, Transactions'
 'Social contributions, Transactions' 'Sales taxes, Transactions'
 'Taxes on goods and services, Transactions'
 'Capital grants receivable, International Organizations, Transactions'
 'Grants receivable from foreign governments: capital grants, Transactio'
 'Taxes on international trade and transactions, Transactions'
 'Other taxes, Transactions' 'Recurrent taxes on net wealth, Transactions'
 'Capital grants receivable, Other general government, Transactions'
 'Turnover and other general taxes on goods and services, Transactions'
 'Interest (before FISIM allocation), receivable, Nonresidents, Transact'
 'Taxes on income, profits, and capital gains, payable by corporations a'
 'Grants receivable, Other general government, Transactions'
 'Interest (before FISIM allocation), receivable, Transactions'
 'Taxes on immovable property, Transactions'
 'Other taxes on income, profits, and capital gains, Transactions'
 'Motor vehicles taxes, Transactions' 'Exchange taxes, Transactions'
 'Interest (before FISIM allocation), receivable, Other general governme'
 'Taxes on financial and capital transactions, Transactions'
 'Revenue, Transactions'
 'Taxes on income, profits, and capital gains, Transactions'
 'Current grants receivable, International Organizations, Transactions'
 'Grants receivable, Transactions'
 'Current grants receivable, Other general government, Transactions'
 'Other social contributions: employee contributions, Transactions'
 'Other social contributions: employer contributions, Transactions'
 'Recurrent taxes on immovable property, Transactions'
 'Grants receivable from foreign governments: current grants, Transactio'
 'Interest (before FISIM allocation), receivable, Financial corporations'
 'Other revenue, Transactions'
 'Tax, property, estate, inheritance, and gift taxes, Transactions'
 'Total Revenue (Taxes + Grants + Social Contributions)' nan]

In [29]:
df['indicator'].value_counts()

indicator
Total Revenue (Taxes + Grants + Social Contributions)                     210
Grants receivable, International Organizations, Transactions              154
Other taxes on international trade and transactions, Transactions         154
Other taxes on goods and services, Transactions                           154
Taxes on property, Transactions                                           154
Grants receivable from foreign governments, Transactions                  154
Social contributions, Transactions                                        154
General taxes on goods and services, Transactions                         154
Other social contributions, Transactions                                  154
Taxes on exports, Transactions                                            154
Taxes on payroll and workforce, Transactions                              154
Grants receivable from foreign governments: capital grants, Transactio    154
Taxes on goods and services, Transactions                                 154
Taxes, Transactions                                                       154
Tax, property, estate, inheritance, and gift taxes, Transactions          154
Grants receivable from foreign governments: current grants, Transactio    154
Other revenue, Transactions                                               154
Capital grants receivable, International Organizations, Transactions      154
Recurrent taxes on net wealth, Transactions                               154
Other taxes, Transactions                                                 154
Capital grants receivable, Other general government, Transactions         154
Taxes on international trade and transactions, Transactions               154
Taxes on immovable property, Transactions                                 154
Current grants receivable, Other general government, Transactions         154
Current grants receivable, International Organizations, Transactions      154
Grants receivable, Transactions                                           154
Taxes on financial and capital transactions, Transactions                 154
Revenue, Transactions                                                     154
Exchange taxes, Transactions                                              154
Grants receivable, Other general government, Transactions                 154
Taxes on income, profits, and capital gains, Transactions                 154
Recurrent taxes on immovable property, Transactions                       154
Taxes on income, profits, and capital gains, payable by individuals, T    140
Other taxes on use of goods and on permission to use goods or perform     140
Other social contributions: employee contributions, Transactions          140
Turnover and other general taxes on goods and services, Transactions      140
Sales taxes, Transactions                                                 140
Taxes on income, profits, and capital gains, payable by corporations a    140
Other social contributions: employer contributions, Transactions          140
Motor vehicles taxes, Transactions                                        140
Interest (before FISIM allocation), receivable, Transactions              140
Other taxes on income, profits, and capital gains, Transactions           140
Interest (before FISIM allocation), receivable, Other general governme     98
Interest (before FISIM allocation), receivable, Financial corporations     84
Other social contributions: imputed contributions, Transactions            70
Interest (before FISIM allocation), receivable, Nonresidents, Transact     70
Name: count, dtype: int64

In [31]:
df['Manual Sovereign Default Label'].value_counts()

Manual Sovereign Default Label
0.0    11
1.0     2
Name: count, dtype: int64

In [35]:
df.isnull().sum()

indicator                         3079
year                                13
value                              676
COUNTRY                           6719
BOP_ACCOUNTING_ENTRY              9393
INDICATOR                         6719
UNIT                              9001
FREQUENCY                         6719
SCALE                             6719
TYPE_OF_TRANSFORMATION            9603
Manual Sovereign Default Label    9772
Year of Default                   9783
Default Type                      9783
dtype: int64

In [34]:
df.notnull().sum()

indicator                         6706
year                              9772
value                             9109
COUNTRY                           3066
BOP_ACCOUNTING_ENTRY               392
INDICATOR                         3066
UNIT                               784
FREQUENCY                         3066
SCALE                             3066
TYPE_OF_TRANSFORMATION             182
Manual Sovereign Default Label      13
Year of Default                      2
Default Type                         2
dtype: int64

In [37]:



# Step 1: List of columns to drop
columns_to_drop = ["BOP_ACCOUNTING_ENTRY",
        "UNIT",
        "FREQUENCY",
        "SCALE",
        "TYPE_OF_TRANSFORMATION",
        "Year of Default",
        "Default Type"]

# Step 2: Drop them from the DataFrame
df = df.drop(columns=columns_to_drop)

In [40]:
df.tail(30)

,indicator,year,value,COUNTRY,INDICATOR,Manual Sovereign Default Label
9755,NaN,2024.0,2.739,Japan,"All Items, Consumer price index (CPI), Period ...",NaN
9756,NaN,2024.0,0.084,Japan,"Gross domestic product (GDP), Constant prices,...",NaN
9757,NaN,2024.0,39.402,Japan,"Expenditure, General government, Percent of GDP",NaN
9758,NaN,2024.0,236.660,Japan,"Gross debt, General government, Percent of GDP",NaN
9759,NaN,2024.0,2.567,Japan,Unemployment rate,NaN
9760,NaN,2024.0,4.426,South Africa,"All Items, Consumer price index (CPI), Period ...",NaN
9761,NaN,2024.0,32.800,South Africa,Unemployment rate,NaN
9762,NaN,2024.0,-0.644,South Africa,"Current account balance (credit less debit), P...",NaN
9763,NaN,2024.0,0.580,South Africa,"Gross domestic product (GDP), Constant prices,...",NaN
9764,NaN,2024.0,58.506,Türkiye,"All Items, Consumer price index (CPI), Period ...",NaN
9765,NaN,2024.0,3.184,Türkiye,"Gross domestic product (GDP), Constant prices,...",NaN
9766,NaN,2024.0,-0.758,Türkiye,"Current account balance (credit less debit), P...",NaN
9767,NaN,2024.0,8.700,Türkiye,Unemployment rate,NaN
9768,NaN,2024.0,-3.366,United Kingdom,"Current account balance (credit less debit), P...",NaN
9769,NaN,2024.0,44.040,United Kingdom,"Expenditure, General government, Percent of GDP",NaN
9770,NaN,2024.0,-3.786,United Kingdom,"Primary net lending (+) / net borrowing (-), G...",NaN
9771,NaN,2024.0,4.275,United Kingdom,Unemployment rate,NaN
9772,NaN,2024.0,1.101,United Kingdom,"Gross domestic product (GDP), Constant prices,...",NaN
9773,NaN,2024.0,2.530,United Kingdom,"All Items, Consumer price index (CPI), Period ...",NaN
9774,NaN,2024.0,2.796,United States,"Gross domestic product (GDP), Constant prices,...",NaN
9775,NaN,2024.0,4.033,United States,Unemployment rate,NaN
9776,NaN,2024.0,2.952,United States,"All Items, Consumer price index (CPI), Period ...",NaN
9777,NaN,2024.0,-3.884,United States,"Current account balance (credit less debit), P...",NaN
9778,NaN,2024.0,2.317,France,"All Items, Consumer price index (CPI), Period ...",NaN
9779,NaN,2024.0,5.003,China,"Gross domestic product (GDP), Constant prices,...",NaN
9780,NaN,2024.0,101.227,United Kingdom,"Gross debt, General government, Percent of GDP",NaN
9781,NaN,2024.0,-2.302,India,"Primary net lending (+) / net borrowing (-), G...",NaN
9782,NaN,2024.0,81.286,India,"Gross debt, General government, Percent of GDP",NaN
9783,NaN,2024.0,-2.741,Myanmar,"Primary net lending (+) / net borrowing (-), G...",NaN
9784,NaN,2024.0,4.367,Brazil,"All Items, Consumer price index (CPI), Period ...",NaN

In [41]:
print(df['INDICATOR' ].unique())

[nan 'Current account balance (credit less debit)'
 'Domestic currency per US Dollar'
 'Total liabilities, Adjusted using IMF accounting records'
 'Total reserves (gold at market value)'
 'Expenditure, General government, Percent of GDP'
 'Gross debt, General government, Percent of GDP'
 'All Items, Consumer price index (CPI), Period average, percent change'
 'Gross domestic product (GDP), Constant prices, Percent change'
 'Unemployment rate'
 'Primary net lending (+) / net borrowing (-), General government, Percent of GDP'
 'Current account balance (credit less debit), Percent of GDP']

In [42]:
print(df['indicator' ].unique())

['Grants receivable, International Organizations, Transactions'
 'Taxes on income, profits, and capital gains, payable by individuals, T'
 'Grants receivable from foreign governments, Transactions'
 'Other taxes on goods and services, Transactions'
 'Other taxes on international trade and transactions, Transactions'
 'Taxes on property, Transactions' 'Taxes, Transactions'
 'Other taxes on use of goods and on permission to use goods or perform '
 'General taxes on goods and services, Transactions'
 'Other social contributions, Transactions'
 'Taxes on exports, Transactions'
 'Other social contributions: imputed contributions, Transactions'
 'Taxes on payroll and workforce, Transactions'
 'Social contributions, Transactions' 'Sales taxes, Transactions'
 'Taxes on goods and services, Transactions'
 'Capital grants receivable, International Organizations, Transactions'
 'Grants receivable from foreign governments: capital grants, Transactio'
 'Taxes on international trade and transactions, Transactions'
 'Other taxes, Transactions' 'Recurrent taxes on net wealth, Transactions'
 'Capital grants receivable, Other general government, Transactions'
 'Turnover and other general taxes on goods and services, Transactions'
 'Interest (before FISIM allocation), receivable, Nonresidents, Transact'
 'Taxes on income, profits, and capital gains, payable by corporations a'
 'Grants receivable, Other general government, Transactions'
 'Interest (before FISIM allocation), receivable, Transactions'
 'Taxes on immovable property, Transactions'
 'Other taxes on income, profits, and capital gains, Transactions'
 'Motor vehicles taxes, Transactions' 'Exchange taxes, Transactions'
 'Interest (before FISIM allocation), receivable, Other general governme'
 'Taxes on financial and capital transactions, Transactions'
 'Revenue, Transactions'
 'Taxes on income, profits, and capital gains, Transactions'
 'Current grants receivable, International Organizations, Transactions'
 'Grants receivable, Transactions'
 'Current grants receivable, Other general government, Transactions'
 'Other social contributions: employee contributions, Transactions'
 'Other social contributions: employer contributions, Transactions'
 'Recurrent taxes on immovable property, Transactions'
 'Grants receivable from foreign governments: current grants, Transactio'
 'Interest (before FISIM allocation), receivable, Financial corporations'
 'Other revenue, Transactions'
 'Tax, property, estate, inheritance, and gift taxes, Transactions'
 'Total Revenue (Taxes + Grants + Social Contributions)' nan]

In [43]:
# Step 1: Combine both indicator columns
df['indicator'] = df['indicator'].fillna(df['INDICATOR'])

# Optional: Drop the old column
df = df.drop(columns=['INDICATOR'], errors='ignore')

In [46]:
df.head(0)

Empty DataFrame
Columns: [indicator, year, value, COUNTRY, Manual Sovereign Default Label]
Index: []

In [48]:
# Normalize column names to lowercase
df.columns = df.columns.str.lower()

# Now apply the filter
df = df[df['country'].notnull() & df['year'].notnull() & df['indicator'].notnull() & df['value'].notnull()]

In [50]:
df.head()

,indicator,year,value,country,manual sovereign default label
6706,Current account balance (credit less debit),2010.0,-54515.877624,India,NaN
6707,Current account balance (credit less debit),2010.0,200147.569524,Germany,NaN
6708,Current account balance (credit less debit),2010.0,220887.986144,Japan,NaN
6709,Current account balance (credit less debit),2010.0,-86717.778084,Brazil,NaN
6710,Current account balance (credit less debit),2010.0,1574.156747,Myanmar,NaN

In [51]:
df_wide = df.pivot_table(
    index=["country", "year"],
    columns="indicator",
    values="value",
    aggfunc="first"
).reset_index()

In [52]:
df.head()

,indicator,year,value,country,manual sovereign default label
6706,Current account balance (credit less debit),2010.0,-54515.877624,India,NaN
6707,Current account balance (credit less debit),2010.0,200147.569524,Germany,NaN
6708,Current account balance (credit less debit),2010.0,220887.986144,Japan,NaN
6709,Current account balance (credit less debit),2010.0,-86717.778084,Brazil,NaN
6710,Current account balance (credit less debit),2010.0,1574.156747,Myanmar,NaN

In [55]:
labels = df[["country", "year", "manual sovereign default label"]].dropna().drop_duplicates()

df_final = df_wide.merge(labels, on=["country", "year"], how="left")
df_final["defaulted"] = df_final["manual sovereign default label"].fillna(0).astype(int)

In [56]:
df.head()

,indicator,year,value,country,manual sovereign default label
6706,Current account balance (credit less debit),2010.0,-54515.877624,India,NaN
6707,Current account balance (credit less debit),2010.0,200147.569524,Germany,NaN
6708,Current account balance (credit less debit),2010.0,220887.986144,Japan,NaN
6709,Current account balance (credit less debit),2010.0,-86717.778084,Brazil,NaN
6710,Current account balance (credit less debit),2010.0,1574.156747,Myanmar,NaN

In [57]:
# Step 5: Drop high-NaN columns
missing_ratio = df_final.isnull().mean()
cols_to_keep = missing_ratio[missing_ratio <= 0.5].index
df_final = df_final[cols_to_keep]

# Step 6: Fill remaining NaNs with median
df_final = df_final.fillna(df_final.median(numeric_only=True))

In [58]:
df.head()

,indicator,year,value,country,manual sovereign default label
6706,Current account balance (credit less debit),2010.0,-54515.877624,India,NaN
6707,Current account balance (credit less debit),2010.0,200147.569524,Germany,NaN
6708,Current account balance (credit less debit),2010.0,220887.986144,Japan,NaN
6709,Current account balance (credit less debit),2010.0,-86717.778084,Brazil,NaN
6710,Current account balance (credit less debit),2010.0,1574.156747,Myanmar,NaN

In [59]:
print(df['manual sovereign default label' ].unique())

[nan]

In [60]:
print(df['country' ].unique())

['India' 'Germany' 'Japan' 'Brazil' 'Myanmar' 'Sri Lanka' 'United States'
 'South Africa' 'Italy' 'China' 'Russian Federation' 'United Kingdom'
 'Bangladesh' 'Türkiye' 'France']

In [ ]:
# Mapping dictionary
default_map = {
    "India": 0,
    "Germany": 0,
    "Japan": 0,
    "Brazil": 1,
    "Myanmar": 1,
    "Sri Lanka": 1,
    "United States": 0,
    "South Africa": 0,
    "Italy": 0,
    "China": 0,
    "Russian Federation": 1,
    "United Kingdom": 0,
    "Bangladesh": 0,
    "Türkiye": 1,
    "France": 0
}

In [62]:
df_final["past_defaulted"] = df_final["country"].map(default_map).fillna(0).astype(int)

In [64]:
df_final.head()

,country,year,"All Items, Consumer price index (CPI), Period average, percent change",Current account balance (credit less debit),"Current account balance (credit less debit), Percent of GDP",Domestic currency per US Dollar,"Expenditure, General government, Percent of GDP","Gross debt, General government, Percent of GDP","Gross domestic product (GDP), Constant prices, Percent change","Primary net lending (+) / net borrowing (-), General government, Percent of GDP","Total liabilities, Adjusted using IMF accounting records",Total reserves (gold at market value),Unemployment rate,defaulted,past_defaulted
0,Bangladesh,2005.0,6.486,-2511.036778,-0.700,31.837144,10.263,35.558,6.536,-1.190,1.483654e+06,220002.948453,7.05,0,0
1,Bangladesh,2006.0,7.163,-2511.036778,0.665,31.837144,10.127,35.332,6.672,-0.848,1.483654e+06,220002.948453,7.05,0,0
2,Bangladesh,2007.0,7.205,-2511.036778,1.003,31.837144,9.627,34.989,7.059,-0.495,1.483654e+06,220002.948453,7.05,0,0
3,Bangladesh,2008.0,9.937,-2511.036778,0.253,31.837144,11.540,33.870,6.014,-1.576,1.483654e+06,220002.948453,7.05,0,0
4,Bangladesh,2009.0,6.655,-2511.036778,1.699,31.837144,10.576,33.010,5.045,-0.861,1.483654e+06,220002.948453,7.05,0,0

In [66]:
# Save the cleaned dataset to CSV
df_final.to_csv("/home/abhishek/Desktop/IMF/src/modeling/cleaned_data_for_ml.csv", index=False)